{% load static %}
    <div class="myrow3 row">
        <div class="box col-4">
            <i class="bi bi-geo-alt-fill">Location</i><br>
            Lorem ipsum dolor sit amet consecteturadipisicing elit. Maxime nulla dolor distinctio atque, mollitia
            cum neque. Fugit aut dicta blanditiis
            nostrum minima aspernatur consequuntur repudiandae, possimus quas illo hic magni.
        </div>
        <div class="box col-4">
            Contact Us: <br>
            <i class="bi bi-telephone"></i>9923897788 <br>
            <i class="bi bi-envelope"></i>xyz@gmail.com
        </div>
        <div class="box col-4">
            <a href=""><i class="bi bi-linkedin" style="font-size: 20px;"></i></a><br>
            <a href=""><i class="bi bi-facebook" style="font-size: 20px"></i></a><br>
            <a href=""><i class="bi bi-instagram" style="font-size: 20px;"></i></a><br>
            <a href=""><i class="bi bi-twitter" style="font-size: 20px;"></i></a> <br>
        </div>
    </div>
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>