<div class="box col-2 bg-light">            
    <h5 class="mt-2">Filter By category</h5>
    <hr>
    <a href="/">All Pets</a><br>
    <a href="/search/dog">Dog</a><br>
    <a href="/search/cat">Cat</a><br>
    <h5 class="mt-2">Filter By Price</h5>
    <hr>
    <form action="/range">
          <label  class="col-form-label">Min:</label>            
          <input type="text"  class="form-control" name="min">              
          <label  class="col-form-label">Max:</label>                
          <input type="text"  name="max" class="form-control" >              
        <input class="mt-2 btn btn-warning" type="submit" value="Search">
    </form>
    <h5 class="mt-2">Sort By Price</h5>
    <hr>
    <a href="/sort/asc">Low to High</a><br>
    <a href="/sort/desc">High to Low</a>            
 </div> 